html {
  height: 100%;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
  font-family: "Arial Black", sans-serif;
}

* {
  font-family: inherit;
}

body {
  height: 100%;
  margin: 0;
  position: relative;
  width: 100%;
  background: var(--background-color);

  animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.75;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/************ THEMES STYLING *************/
.Standard {
  --text-color: black;
  --background-color: white;
  --accent-button-color-1: #0067d0;
  --accent-button-color-1-hover: #0058b2;
  --accent-button-color-2: #f44434;
  --hover-color: #eeeeee;
  --flash-message-border: #0e5209;
  --flash-message-background-color: #a0e584;
  --flash-message-color: #197f12;
  --flash-error-border: #df0000;
  --flash-error-background-color: #ff8e8e;
  --flash-error-color: #df0000;
  --shadow-color: 0, 0, 0;
  --addToDoInput-color: black;
}

.Tropical {
  --background-color: #fcefef;
  --text-color: #4f2d02;
  --accent-button-color-1: #a1fcdf;
  --accent-button-color-1-hover: #7fd8be;
  --accent-button-color-2: #fcab64;
  --hover-color: #d0f1e7;
  --shadow-color: 86, 99, 86;
  --flash-error-border: #9f5c04;
  --flash-error-background-color: #fddbb0;
  --flash-error-color: #c77305;
  --flash-message-border: #07880b;
  --flash-message-background-color: #b1fbb4;
  --flash-message-color: #089b0d;
  --addToDoInput-color: #4f2d02;
}

.Midnight {
  --background-color: #313d5a;
  --text-color: #f2f0fa;
  --accent-button-color-1: #fcab64;
  --accent-button-color-1-hover: #fb9d4b;
  --accent-button-color-2: #73628a;
  --hover-color: #183642;
  --shadow-color: 0, 0, 0;
  --flash-error-border: #a04c03;
  --flash-error-color: #b45604;
  --flash-error-background-color: #fdc99b;
  --flash-message-border: #204a5a;
  --flash-message-color: #316e87;
  --flash-message-background-color: #e1eff4;
  --addToDoInput-color: #183642;
}

.Aurora {
  --background-color: #8ca0d7;
  --text-color: #7e1f86;
  --accent-button-color-1: #9d79bc;
  --accent-button-color-1-hover: #a14da0;
  --accent-button-color-2: #91c4f2;
  --hover-color: #b4c1e4;
  --shadow-color: 93, 23, 99;
  --flash-error-border: #602f60;
  --flash-error-color: #6d366d;
  --flash-error-background-color: #e4c8e4;
  --flash-message-border: #354f97;
  --flash-message-color: #405fb5;
  --flash-message-background-color: #d2daef;
  --addToDoInput-color: #7e1f86;
}

.Lemonade {
  --background-color: #f8f5c9;
  --text-color: #e54138;
  --accent-button-color-1: #f4cbc6;
  --accent-button-color-1-hover: #f4afab;
  --accent-button-color-2: #f4f482;
  --hover-color: #f5d0cc;
  --shadow-color: 239, 134, 129;
  --flash-error-border: #ab3121;
  --flash-error-color: #ce3b27;
  --flash-error-background-color: #f5d1cc;
  --flash-message-border: #a9a90f;
  --flash-message-color: #a9a90f;
  --flash-message-background-color: #fafac6;
  --addToDoInput-color: #e54138;
}

.Europa {
  --background-color: #4f345a;
  --text-color: #c9f299;
  --accent-button-color-1: #9cbfa7;
  --accent-button-color-1-hover: #8fa998;
  --accent-button-color-2: #d6cfdd;
  --hover-color: #c9b1d2;
  --shadow-color: 139, 226, 39;
  --flash-error-border: #35453b;
  --flash-error-color: #475c4f;
  --flash-error-background-color: #c5d3ca;
  --flash-message-border: #406c0e;
  --flash-message-color: #4b7e10;
  --flash-message-background-color: #cff3a5;
  --addToDoInput-color: #4f345a;
}

.Terracotta {
  --background-color: #eee0cb;
  --text-color: #280003;
  --accent-button-color-1: #d2a49d;
  --accent-button-color-1-hover: #c2847a;
  --accent-button-color-2: #baa898;
  --hover-color: #dcbf93;
  --shadow-color: 72, 44, 40;
  --flash-error-border: #493d31;
  --flash-error-color: #6e5b49;
  --flash-error-background-color: #d6ccc2;
  --flash-message-border: #703b33;
  --flash-message-color: #8c4a40;
  --flash-message-background-color: #d8b1ab;
  --addToDoInput-color: #280003;
}

.Galaxy {
  --background-color: #7067cf;
  --text-color: #330c2f;
  --accent-button-color-1: #cbf3d2;
  --accent-button-color-1-hover: #8be49c;
  --accent-button-color-2: #7b287d;
  --hover-color: #b7c0ee;
  --shadow-color: 40, 278, 77;
  --flash-error-border: #4d184e;
  --flash-error-color: #a937a9;
  --flash-error-background-color: #f0d1f0;
  --flash-message-border: #1a742c;
  --flash-message-color: #229639;
  --flash-message-background-color: #bcf0c6;
  --addToDoInput-color: #280003;
}

.Alice {
  --background-color: #fef5ef;
  --text-color: #584b53;
  --accent-button-color-1: #d6e3f8;
  --accent-button-color-1-hover: #b9cff3;
  --accent-button-color-2: #caa5a9;
  --hover-color: #b9cff3;
  --shadow-color: 35, 29, 77;
  --flash-error-border: #18448c;
  --flash-error-color: #1e55ae;
  --flash-error-background-color: #cbdbf6;
  --flash-message-border: #613b19;
  --flash-message-color: #925826;
  --flash-message-background-color: #eacaae;
  --addToDoInput-color: #584b53;
}

.Summer {
  --background-color: #fef9ef;
  --text-color: #227c9d;
  --accent-button-color-1: #fe9a9d;
  --accent-button-color-1-hover: #fe6d73;
  --accent-button-color-2: #ffcb77;
  --hover-color: #91f2e8;
  --shadow-color: 33, 119, 151;
  --flash-error-border: #a20207;
  --flash-error-color: #b60208;
  --flash-error-background-color: #feaeb1;
  --flash-message-border: #523200;
  --flash-message-color: #a36500;
  --flash-message-background-color: #ffe0ad;
  --addToDoInput-color: #227c9d;
}

/************ LOGOUT AND NEW LIST BUTTONS STYLING *************/

.fixedButtons {
  position: fixed;
  display: flex;
  flex-direction: row;
  right: 0;
  top: 0;
  z-index: 1;
}

#addList,
#logoutBtn,
.deleteListPopup input {
  border: none;
  background-color: var(--accent-button-color-1);
  width: 180px;
  padding: 15px;
  font-size: 18px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  color: white;
  margin: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

#addList:hover,
#logoutBtn:hover,
.deleteListPopup input:hover {
  background-color: var(--accent-button-color-1-hover);
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/***************** TO-DO LIST STYLING **************/

.list {
  border: 1px solid transparent;
  width: 70%;
  position: relative;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px 10px rgba(var(--shadow-color), 0.1);
  margin: 50px auto 0px auto;
}

.deleteListContain {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.deleteList {
  padding: 10px 15px 10px 15px;
  background-color: var(--background-color);
  margin: 15px 30px 30px 0px;
  border: 1px solid var(--text-color);
  color: var(--text-color);
}

.deleteList:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.listTitle {
  font-weight: bold;
  font-size: 40px;
  border: 1px solid transparent;
  margin: 30px 15px 15px 30px;
  width: calc(100% - 30px);
  box-sizing: border-box;
  color: var(--text-color);
  background-color: var(--background-color);
}

.listTitle:focus {
  outline: none;
}

.addToDoContain {
  margin: 0px 30px 0px 30px;
  position: relative;
}

.addToDoBtn {
  position: absolute;
  right: 0;
  height: 100%;
  border: 1px solid var(--text-color);
  background-color: var(--accent-button-color-1);
  width: 10%;
  color: var(--text-color);
  box-sizing: border-box;
}

.addToDoBtn:hover {
  background-color: var(--accent-button-color-1-hover);
  cursor: pointer;
}

.addToDoInput {
  height: 100%;
  font-size: 18px;
  padding: 5px;
  width: 90%;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  border-right: none;
  color: var(--addToDoInput-color);
}

.taskList {
  list-style-type: none;
}

.taskList li {
  margin: 0px 80px 0px 0px;
  position: relative;
  margin-bottom: 15px;
}

.toDoContain {
  width: 92%;
  display: flex;
  flex-direction: row;
}

.toDoContain label {
  color: var(--text-color);
}

.toDoCheckbox {
  align-self: flex-start;
  margin-right: 15px;
  margin-top: 5px;
}

.removeToDoBtn {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--accent-button-color-2);
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
  border: none;
  color: var(--text-color);
  border-radius: 100%;
}

.removeToDoBtn:hover {
  cursor: pointer;
}

.toDos {
  padding-top: 50px;
  padding-bottom: 70px;
}

.toDoContain label {
  line-height: 24px;
  width: calc(100% - 35px);
  word-wrap: break-word;
}

/********** FLASH MESSAGE STYLING **************/

#flashDiv {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.dismissFlash {
  position: absolute;
  right: 15px;
  bottom: 15px;
  box-sizing: border-box;
  cursor: pointer;
}

.dismissFlashError,
.flashError {
  border: 1px solid var(--flash-error-border);
  color: var(--flash-error-color);
  background-color: var(--flash-error-background-color);
}

.dismissFlashMessage,
.flashMessage {
  border: 1px solid var(--flash-message-border);
  color: var(--flash-message-color);
  background-color: var(--flash-message-background-color);
}

.flashError,
.flashMessage {
  position: relative;
  width: 70%;
  margin: 0px auto 25px auto;
  padding: 15px;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  z-index: 1;
}

.flashError div,
.flashMessage div {
  width: calc(100% - 100px);
  word-wrap: break-word;
}

/***************** DELETE LIST POPUP STYLING ***************/

#overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(var(--shadow-color), 0.4);
  display: none;
  z-index: 2;
  display: none;
  align-items: center;
}

.deleteListPopup {
  position: fixed;
  width: 400px;
  background-color: var(--background-color);
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 20px 30px 20px;
  box-sizing: border-box;
  text-align: center;
  color: var(--text-color);
}

.popupButtons {
  margin-top: 15px;
}

.deleteListPopup li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px 0px 0px 0px;
}

#deleteListPopupPreference {
  height: 16px;
  width: 16px;
}

.deleteListPopup li label {
  height: 16px;
}

/******************** USERNAME AND DROPDOWN LIST STYLING **************/

.fixedTopLeft {
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 1;
}

.fixedUsername {
  font-size: 20px;
  color: var(--text-color);
}

.dropdown {
  transform: rotate(0deg);
  font-size: 15px;
  height: 20px;
  width: 20px;
  border: none;
  background-color: transparent;
  color: var(--text-color);
}

.dropdown.dropdownOpen {
  font-size: 16px;
}

.dropdownList {
  z-index: 1;
  border: 1px solid var(--text-color);
  margin-top: 5px;
  display: none;
}

.dropdownList.dropdownOpen {
  display: block;
}

.dropdownList a {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 15px 50px 15px 15px;
  box-sizing: border-box;
  width: 100%;
}

.dropdownList a:hover {
  background-color: var(--hover-color);
  transform: scale(1.05);
}
